<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1041413317099-uhgade13n22hr096hhq4bc4v1c8d76l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041413317099-uhgade13n22hr096hhq4bc4v1c8d76l8</string>
	<key>API_KEY</key>
	<string>AIzaSyDyir9qcRQbzpDqGKwlTbhq73wGQ9cMUGs</string>
	<key>GCM_SENDER_ID</key>
	<string>1041413317099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.accengage.ios.sample.GoogleTagManagerBridge</string>
	<key>PROJECT_ID</key>
	<string>tagmanagerbridge</string>
	<key>STORAGE_BUCKET</key>
	<string>tagmanagerbridge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041413317099:ios:d4503d68e1dff3fa</string>
	<key>DATABASE_URL</key>
	<string>https://tagmanagerbridge.firebaseio.com</string>
</dict>
</plist>